* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", sans-serif;
}
div {
    white-space: pre-wrap;
}
.section_wrap {
    padding-top: clamp(60px, 60px, 100px);
    padding-right: 16px;
    padding-bottom: clamp(60px, 60px, 100px);
    padding-left: 16px;
}
.box {
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sub {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.break {
    flex-basis: 100%;
    height: 0;
}


@media (orientation: landscape) {
    body {
        font-size: clamp(1rem, 1.2vw, 10rem);
    }
    .box {
        flex-direction: row;
    }
  }

@media (orientation: portrait) {
    body {
        font-size: clamp(1rem, 4.8vw, 10rem);
    }
    .box {
        flex-direction: column;
    }
  }